.videocontent {

	background-color: orange;
}

body {
	background-color: #fafafa;
}

.videocount {
	color: red;
}

.listitem {
	background-color: white;
	border: solid;
	border-width: 1px;
    border-color: #d8d8d8;
    margin: 0px 0px 10px 0px;
    }